doctype html5
html
  head
    title NodeJS & solR Transactions Display
    link(rel='stylesheet', href='/stylesheets/style2.css')
  body
    header
      h1 #{title}
    .leftContainer
      block facets 
    .trxContainer
      block Transactions
    .bottom
      block stats
