doctype html5
html
  head
    title NodeJS & solR Transactions Display
    link(rel='stylesheet',href='/stylesheets/style2.css')
  body
    header
      h1 #{title}
    .container
      block selectParam  
      form(method="post",action="/go/0")     
        table(id="tableLogin")
         td Devise
         td 
          div 
           input(type="text", name="devise", id="devise")
         tr
         td Montant Min
         td 
          div
          input(type="text", name="montantMin", id="montantMin")
         tr
         td Montant Max
         td 
          div
           input(type="text", name="montantMax", id="montantMax")            
         tr
         td Date Min
         td 
          div
           input(type="date", name="dateMin", id="dateMin")
         tr
         td Date Max
         td 
          div
           input(type="date", name="dateMax", id="dateMax")
         tr
        br
        br
        input(type="submit", value="OK")
