!!!5
html
  head
    title NodeJS & solR Transactions Display
    link(rel='stylesheet', href='/stylesheets/style2.css')
    link(rel='stylesheet', href='/stylesheets/treeview.css')
  body
    header
      h1 #{title}
    .leftContainer
      block facets 
    .container
      block Transactions
    .bottom
      block stats
    footer
      block home
      p Running on node with Express, Jade and Stylus
