doctype html5
html
  head
    title NodeJS & solR Transactions Display
    link(rel='stylesheet', href='/stylesheets/style2.css')
  body
    header
      h1 #{title}
    .leftContainer
      block facets 
    .container
      block Transactions
    .right
      block Right
    .bottom
      block stats
    footer
      block home
       br
       br
       hr  
       p Running on node with Express, Jade and Stylus
