

.bar 
  fill steelblue

.bar:hover 
  fill brown

.axis 
  font: 10px sans-serif

.axis path,
.axis line 
  fill none
  stroke #000
  shape-rendering crispEdges

.x.axis path 
  display none

#chartCurrency
	width 600
	height 300
	float left

#chartTrxType
	width 600
	height 300
	float left

#chartAppType
	width 600
	height 300
	float left

#chartTrxNbr
	width 600
	height 300
	float left
